
body{
    background-image: url("bg_wolfram2.jpg");
 }

h2{
    text-align:center;
}

.col2{
    height:100%;
    width:23%;
    margin:5.1%;
    float:left;
}

a.col2.icon{}
a.col2 {
    position:relative;
    width:23%;
    height:100%;
}
a.col2 .icon{
    opacity:0.6;
}
a.col2 .text {
    transition: opacity 0.5s ease-in-out;
}
a.col2 .text {
    position:absolute;
    top:-25%;
    left:20%;
    opacity:0;
    }
a.col2:hover .icon{
    opacity:1;
    }
a.col2:hover .text {
    opacity:1;
    }
.yellow{color:yellow;}
.white{color:white;}
.red{color: #C22945;}
.icon{
    width:100%;
    height:100%;
    background: white;
}

h2{
    font-size:30px;
}

.Pealkiri{
    text-align:center;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    padding:1%;
}
